.Table {
  width: 85%;
  margin: auto;
  margin-top: 2rem;
}

.Table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #131353;
  border-radius: 5px;
  padding: 0 1rem;
  margin-bottom: 1rem;
  position: sticky;
  top: 0.2rem;
}

.Table-header h3 {
  color: #fff;
  font-weight: 300;
}

.Loading {
  color: #fff;
  font-weight: 400;
  text-align: center;
  margin: 5rem 0;
}

.next-btn {
  display: flex;
  justify-content: flex-end;
}

.next-btn button {
  font-size: 1.7rem;
  cursor: pointer;
  padding: 0.3rem 1.2rem;
  border-radius: 10px;
  margin: 2rem 0;
  background-color: #1c1c6a;
  color: #fff;
  border: none;
  font-family: "Poppins";
  font-weight: 300;
}

.empty-favorites {
  display: none;
}

.favorites-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.favorites-header {
  width: 100%;
  background-color: #131353;
  border-radius: 5px;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  position: sticky;
  top: 0.2rem;
}

.favorites-header h1 {
  margin: 0 0 0 1rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
}

.Favorites-body {
  display: flex;
  align-items: center;
}

.Favorite__row-1 figure {
  margin: 0 0.8rem 1rem 0;
  width: 30px;
  height: 30px;
}

.Favorite__row-1 figure img {
  width: 100%;
  height: 100%;
}

.Favorite__row-2 h2 {
  margin: 0 !important;
  margin-bottom: 1rem !important;
  font-size: 1.3rem;
  font-weight: 500;
  color: #fff;
}